@use "@material/card";
@use "@material/theme";
@use "@material/rtl";

.news-card {
  margin: 28px;
  font-family: "Roboto", Times, serif;
}

.news-title {
  margin: 16px 16px 8px 16px;
  font-size: 32px;
  font-weight: bold;
}
.news-subtitle {
  margin: 16px;  
  font-size: 20px;
  font-weight: normal;
  font-style: italic;
}
.news-date {
  margin: 16px;
  font-size: 20px;
  color: #919191;
  font-weight: normal;
  font-style: italic;
}
.news-content {
  margin: 16px;
  line-height: 1.5;
}