<!-- App-bar -->
<mdc-top-app-bar #topAppBar fixed style="z-index: 7">
  <mdc-top-app-bar-row>
    <mdc-top-app-bar-section align="start" [title]="title || 'FIRST Excelsior'">
      <mdc-icon mdcTopAppBarNavIcon (click)="drawer.open = !drawer.open" *ngIf="isScreenSmall()">menu</mdc-icon>
    </mdc-top-app-bar-section>
  </mdc-top-app-bar-row>
</mdc-top-app-bar>

<!-- Drawer -->
<mdc-drawer #drawer class="drawer-main" [drawer]="isScreenSmall() || topAppBar.isCollapsed() ? 'modal' : 'permanent'">
  <div class="spacer"></div>
  <mdc-drawer-header title="Welcome to FIRST Excelsior!"></mdc-drawer-header>
  <mdc-drawer-content>
    <mdc-list>
      <a mdc-list-item routerLink="/home" routerLinkActive="active">
        <mdc-icon mdcListItemGraphic>home</mdc-icon>Home
      </a>
      <a mdc-list-item routerLink="/helpdesk" routerLinkActive="active">
        <mdc-icon mdcListItemGraphic>question_answer</mdc-icon>Help Desk
      </a>
    </mdc-list>
  </mdc-drawer-content>
</mdc-drawer>

<div class="page">
  <router-outlet></router-outlet>
</div>