/* You can add global styles to this file, and also import other style files */
@use './styles/body';

// MDC Typography
@use '@material/typography/mdc-typography';

// MDC Button
@use './styles/button';

// Angular MDC
@use '@angular-mdc/theme/material';

@use '@material/top-app-bar/mdc-top-app-bar';
@use '@material/icon-button/mdc-icon-button';
@use '@material/drawer/mdc-drawer';
@use '@material/list/mdc-list';

html, body {
  margin: 0;
  height: 100%;
  background: #F5F6F7;
  text-align: start;
}